[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
ddt = "*"
pytest-cov = "*"
moto = "*"
pylint = "*"

[packages]
# zappa = "*"
flask = "*"
flask-rest-jsonapi = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
python-dotenv = "*"
flask-migrate = "*"
healthcheck = "*"
authlib = "*"

[requires]
python_version = "3.6"
