[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
pytest-cov = "*"
moto = "*"
pylint = "*"
flask-testing = "*"
factory-boy = "*"

[packages]
flask = "*"
flask-rest-jsonapi = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-migrate = "*"
healthcheck = "*"
authlib = "*"
pendulum = "*"
pywin32 = {version = "!= 226", sys_platform = "== 'win32'"}  # work around broken pywin version 226
psycopg2-binary = {version = "*", sys_platform = "!= 'win32'"}  # include for Postgres connectivity

[requires]
python_version = "3.6"
